*{
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  text-align: justify;
  margin: 20px;
}
.carrusel{
  align-items: center;
  margin: 40px;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fc4e4e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fc4e4e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label {
  display: block;
  float: center;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #000000;
  border-color: #ff0000;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


.contact_form button p {
  color: #fff;
}


.contact_form span {
  color: #1d0000;
}


.aviso {
  font-size: 13px;
  color: #0e0e0e;
}


.contact_form h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #d82424;
}


.contact_form h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


.contact_form p {
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #3d0101;
}


.formulario textarea:focus {
  outline: 0;
  border: 1px solid #3d0101;
}
footer{
/*   margin-left: 40%;
  margin-top: 20px; */
  text-align: center;
}